/*PADRONIZANDO MINHA PAGE*/
* {
    margin: 0;
    padding: 0;
}

:root{
    /*CORES USADAS*/
    --cor-one: #380B61;
    --cor-two: #F0F8FF;

    /*FONTES USADAS*/
    --font-one: #sans-serif;

    /*TAMANHO DA FONTE*/
    --font-size: #1em;
}

#titulo {
    font-family: var(--font-one);
    color: var(--cor-one);
    margin-left: 7%;
}

#subtitulo {
    font-family: var(--font-one);
    color: var(--cor-one);
    margin-left: 10%;
} 

#check{
    display: inline-block;
}

#fieldset{
    border: 0;
}

.body{
    background-color: var(--cor-two);
    font-family: var(--font-one);
    font-size: var(--font-size);
    color: var(--cor-one);
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input,
select,
textarea,
button {
    font-family: var(--font-one);
    font-size: var(--font-size);
    color: var(--cor-one);
    border-radius: 5px;
}

.grupo:before,
.grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}